<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Commission) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_commission), new_admin_commission_url, class: "btn-success", icon: 'add', id: 'admin_new_commission' %>
<% end if can? :create, Spree::Commission %>

<% content_for :table_filter do %>
  <div data-hook="admin_commissions_index_search">

    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="date-range-filter col-xs-12 col-md-8">
          <div class="form-group">
            <%= label_tag :q_created_at_gt, Spree.t(:date_range) %>
            <div class="row no-padding-bottom">
              <div class="col-xs-12 col-md-6">
                <div class="input-group">
                  <%= f.text_field :created_at_gt, class: 'datepicker datepicker-from form-control', value: params[:q][:created_at_gt], placeholder: Spree.t(:start) %>
                  <span class="input-group-addon">
                    <i class="icon icon-calendar"></i>
                  </span>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="input-group">
                  <%= f.text_field :created_at_lt, class: 'datepicker datepicker-to form-control', value: params[:q][:created_at_lt], placeholder: Spree.t(:stop) %>
                  <span class="input-group-addon">
                    <i class="icon icon-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div data-hook="admin_commissions_index_search_buttons" class="form-actions">
        <%= button Spree.t(:filter_results), 'search' %>
      </div>

    <% end %>

  </div>

<% end %>

<%= render 'spree/admin/shared/index_table_options', collection: @commissions %>

<% if @commissions.any? %>
  <table class="table" id="listing_commissions" data-hook>
    <thead>
      <tr data-hook="admin_commissions_index_headers">
        <% if @show_only_completed %>
          <th><%= sort_link @search, :completed_at,   I18n.t(:completed_at, scope: 'activerecord.attributes.spree/order') %></th>
        <% else %>
          <th><%= sort_link @search, :created_at,     I18n.t(:created_at, scope: 'activerecord.attributes.spree/order') %></th>
        <% end %>
        <th><%= sort_link @search, :number,           I18n.t(:number, scope: 'activerecord.attributes.spree/order') %></th>
        <th><%= sort_link @search, :email,            I18n.t(:email, scope: 'activerecord.attributes.spree/order') %></th>
        <th><%= sort_link @search, :payee, I18n.t(:payee, scope: 'spree') %></th>
        <th><%= sort_link @search, :base_price, I18n.t(:base_price, scope: 'activerecord.attributes.spree/commission') %></th>
        <th><%= sort_link @search, :amount, I18n.t(:amount, scope: 'activerecord.attributes.spree/commission') %></th>
        <th><%= sort_link @search, :state, I18n.t(:state, scope: 'activerecord.attributes.spree/commission') %></th>
        <th data-hook="admin_orders_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @commissions.each do |commission| %>
      <% order = commission.order %>
      <tr data-hook="admin_commissions_index_rows" class="state-<%= order.state.downcase %> <%= cycle('odd', 'even') %>">
        <td>
          <%= order_time(@show_only_completed ? order.completed_at : order.created_at) %>
        </td>
        <td><%= link_to order.number, edit_admin_order_path(order) %></td>
        <td>
          <% if order.user %>
            <%= link_to order.email, edit_admin_user_path(order.user) %>
          <% else %>
            <%= mail_to order.email %>
          <% end %>
          <% if order.user || order.email %>
            <span class="icon icon-filter filterable js-add-filter" data-ransack-field="q_email_cont" data-ransack-value="<%= order.email %>"></span>
          <% end %>
        </td>
        <td><%= commission.user ? commission.user.email : 'VIDA MANILA' %></td>
        <td><%= commission.display_base_price.to_html %></td>
        <td><%= commission.display_amount.to_html %></td>
        <td>
          <span class="label label-<%= commission.state.downcase %>"><%= Spree.t("commission_state.#{commission.state.downcase}") %></span>
          <span class="icon icon-filter filterable js-add-filter" data-ransack-field="q_state_eq" data-ransack-value="<%= commission.state %>"></span>
        </td>
        <td class='actions actions-1' data-hook="admin_orders_index_row_actions">
          <%= link_to_edit_url edit_admin_order_path(order), title: "admin_edit_#{dom_id(order)}", no_text: true if can?(:edit, order) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Commission)) %>,
    <%= link_to(Spree.t(:add_one), new_admin_commission_url) if can? :create, Spree::Commission %>!
  </div>
<% end %>

<%= render 'spree/admin/shared/index_table_options', collection: @commissions, simple: true %>
